.home-page-wrapper {
    width: 100%;
    background: rgb(248,248,250);
    margin: 0 auto;
}

.home-hero {

    height: 45git vh;
    margin-bottom: -70px;

}

.event-index-wrapper {
    margin: 0px auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    font-family: $sans-serif;
    font-size: 25px;
    line-height: 30px;
    font-weight: 200;
    color: $dark-gray;
    letter-spacing: 1.1px;
    z-index: 0;
    position: relative;
}

.home-search-container {
    border: $border-color 1px solid;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    background-image: linear-gradient(rgba(255,255,255,0.87) 0%, #fff 25%);
    margin: 0 auto;
    width: 80%;
    
    display: block;
    z-index: 2;
    padding: 20px 0;
    h1 {
        text-align: center;
        color:  #f6682f;
        font-size: 1.85em;
        margin-top: 15px;
        font-family: $open;
        font-weight: lighter;
        letter-spacing: 2px;
        line-height: 60px;
    }
    form {
        padding: 2.5% 0;
        padding-left: 25px;
        padding-right: 25px;
        width: 90%;
        // max-width: 1000px;
        display: flex;
        flex-flow: row;    
        align-items: center;
    }
    input {
        padding: 0 2px;
        border: 1px solid rgb(210, 214, 223);
        width: 100%;
        min-height: 40px;
    }
}

.search-input-field {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    flex: 2 0 66%;
    // margin-left: 5px;
}
.search-button {
    // margin-right: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f6682f;
    flex: 1 0 33%;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}



.event-index-header {
    margin: 50px auto;
    width: 75%;
    font-family: $open;
    // border: tomato 1px solid;
    text-align: center;
}

.cat-link {
    div {
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    }
}


.ei-cat-img-grid {
    border-radius: 5px;
    box-sizing: border-box;
    width: 83%;
    @media (max-width: 659px) {
    align-items: stretch;
	justify-content: center;
	display: flex;
    flex-flow: column; 
    }

   @media (min-width: 660px) { 
    grid-template-rows: repeat(3, minmax(260px, 1fr)); 
    
    display: grid;
    }
    div {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    min-height: 180px;
    transition: all 0.5s ease-in-out;
   
    
    p { 
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        color: white;
        display: block;
        width: 100%;

    }
    }
}


.cat-link div:hover {
    cursor: pointer;
    transform: scale(1.2);
    .cat-text {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

}

.cat-img-1 {
    background-image: image-url('aesthetic.jpg');
    background-size: cover;
}
.cat-img-2 {
    background-image: image-url('rugged.jpg');
    background-size: cover;
  
}
.cat-img-3 {
    background-image: image-url('violent.jpg');
    background-size: cover;

}
.cat-img-4 {

    background-image: image-url('culinary.jpg');
    background-size: cover;
   
}
.cat-img-5 {
   background-image: image-url('linguistic.jpg');
    background-size: cover;
    // background-position-y: 100px;
}



@media (min-width: 660px) {

.cat-link > .cat-img-1 {
    // background-image: image-url('rugged.jpg');
    // background-size: cover;
    grid-area: 1 / 1 / 2 / 2;
}
.cat-img-2 {
    
    grid-area: 1 / 2 / 2 / 4;
}
.cat-img-3 {

    
    grid-area: 2 / 2 / 2 / 3;
   
}
.cat-img-4 {
    
    grid-area: 3 / 1 / 4 / 3;
}
.cat-img-5 {
    
    grid-area: 3 / 3 / 4 / 4; 
}
}

.cat-text {
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
	letter-spacing: 1px;
	margin-top: 0px;
    opacity: 0;
    display: block;
}
