.form-container {
margin: 0 auto;
width: 35%;
// top: 38%;
// left: 50%;
// transform: translate(-50%, -50%);
}

.session-form {
// position: fixed;
// top: 100;
// left: 30%;
margin: 100px 0;
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: center;
color: #45494e;
// width: 320px;
// height: 400px; 
    // @media (min-width:610px) {
    //     h1{
    //     margin-left: 40%;
    //     }
    // }
    h1 {
    box-sizing: border-box;
    padding: 18px 10px 0px 10px;
    width: 70px;
    min-width:  70px;
    height: 70px;
    min-height: 70px;
    color: #fff;
    background-color: #f6682f;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    border-radius: 50%;
    margin-left:40%;
    }

    h2 {
    margin-top: 20px;    
    text-align: center;
    font-size: 1.728rem;
    font-weight: 200;
    letter-spacing: -0.1px;
    }
    p {
    text-align: center;
    font-size: 1em;
    padding-bottom: 40px;
        em {
            color:red;
        }
    }
    label:first-child {
    margin-top: 20px;    
    }
}


.login-input {
    border: 1px solid rgb(210, 214, 223);
    width: 100%;
    height: 40px;
    padding: 0 5px;
    margin: 10px 0;
}

.login-input:focus {
    border: 1px solid rgb(57, 194, 201);
}

.login-errors {
    padding: 20px 0;
    color: #ff584c;
    font-size: 12px;
    text-transform: uppercase;
}

 .login-button.first{
    // margin-top: 20px;
    margin-bottom: 25px;
}

.login-button {
    color: #fff;
    background: radial-gradient(farthest-corner at 80% 100%, #fd348b 0, #f86044 100%);
    border-radius: 40px;
    position: relative;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 1px;
    padding-left: 31px;
    padding-right: 31px;
    text-align: center;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: .4px;
    font-size: 14px;
    margin-bottom: 15px;
}

.login-button:hover {
    background-color: #fd348b;
}
