.user-show-page-wrapper {}
.user-show-background {
    // background-image: image-url('herotest1.jpg');
    background-position: center;
    // background-color: aqua;
	background-size: 120%;
	filter: blur(15px) brightness(1.1) saturate(0.9);
	height: 540px;
	max-width: 100vw;
    position: absolute;
    // right: 0;
    // left: 0;
    // top: 0;
	transform: scale(1.2);
	width: 100vw;
	z-index: -200;
}
.user-show-background-boundary {
    background: #F8F8FA;
	display: block;
	height: 300px;
	position: absolute;
	top: 600px;
	width: 100vw;
	z-index: -1;
}
.user-tix-show-wrapper {
    display: flex;
    flex-flow: column;
    padding: 0px;
    @media (min-width: 400px) {padding: 40px;}
    margin: 60px auto;
    width: 80%;
    min-width: 320px;
    background-color: rgba(250,250,250,.8);
}

// @media (min-width:)

.user-show-container {
    align-self: flex-start;
    max-height: 120px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    h1 {
    display: block;
	font-family: $sans-serif;
	font-size: 2vh;
	font-weight: 400;
	letter-spacing: 1.4px;
	line-height: 30px;
	padding: 0px 20px;
    }
    p {
    display: block;
    color: #666A73;
	font-family: $sans-serif;
	line-height: 30px;
	padding: 0px 20px;
    }
}



.user-avatar img {
height: 120px;
width: 120px;
max-width: 120px;
max-height: 120px;
border-radius: 50%;
}

.ticket-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    max-width: 750px;
    
    align-self: flex-end;

    .user-tix-grid {
    width: 80%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));    
    // margin: 0 auto;
}

}

.tickets-header {
    color: #666A73;
    // display: block;
	font-family: $sans-serif;
	font-size: 2vh;
	font-weight: bold;
	letter-spacing: 1.4px;
	line-height: 30px;
	padding: 20px 5px;
    align-self: center;


}

